services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: mdas-ci-practice-api
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
    restart: unless-stopped