apiVersion: apps/v1
kind: Deployment
metadata:
  name: mdas-ci-practice
  labels:
    app: mdas-ci-practice
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mdas-ci-practice
  template:
    metadata:
      labels:
        app: mdas-ci-practice
    spec:
      containers:
      - name: mdas-ci-practice
        image: ghcr.io/ronaldsg20/mdas-ci-practice:main
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
          protocol: TCP
          name: http
        livenessProbe:
          httpGet:
            path: /
            port: 8080
          initialDelaySeconds: 15
          timeoutSeconds: 3
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /
            port: 8080
          initialDelaySeconds: 5
          timeoutSeconds: 3
          periodSeconds: 5
---
apiVersion: v1
kind: Service
metadata:
  name: mdas-ci-practice
  labels:
    app: mdas-ci-practice
spec:
  selector:
    app: mdas-ci-practice
  ports:
    - name: http
      port: 8080
      targetPort: 8080
      protocol: TCP
---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: mdas-ci-practice
  labels:
    app: mdas-ci-practice
spec:
  to:
    kind: Service
    name: mdas-ci-practice
    weight: 100
  port:
    targetPort: http
  wildcardPolicy: None
