apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: rylangraham02-prod

resources:
  - ../../base

namePrefix: prod-

labels:
  - pairs:
      environment: production
    includeSelectors: true

images:
  - name: ghcr.io/ronaldsg20/mdas-ci-practice
    newTag: latest

replicas:
  - name: mdas-ci-practice
    count: 3

patches:
  - patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/env/1/value
        value: "production"
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/memory
        value: "256Mi"
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/memory
        value: "512Mi"
    target:
      kind: Deployment
      name: mdas-ci-practice
