apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: rylangraham02-staging

resources:
  - ../../base

namePrefix: staging-

labels:
  - pairs:
      environment: staging
    includeSelectors: true

images:
  - name: ghcr.io/ronaldsg20/mdas-ci-practice
    newTag: staging

replicas:
  - name: mdas-ci-practice
    count: 2

patches:
  - patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/env/1/value
        value: "staging"
    target:
      kind: Deployment
      name: mdas-ci-practice
